@using MVCGrid.Web
@model PMS.Models.ProjectViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="panel box-shadow-none content-header">
    <div class="panel-body">
        <div class="col-md-6 col-xs-6">
            <h3 class="animated fadeInLeft text-primary">Contracts</h3>
        </div>
        <div class="col-md-6 col-xs-6" style="margin-top:10px;">
            <button type="button" onclick="openModelpop('/Projects/_LoadProject','id',0);" class='btn btn-primary pull-right'>
                <i class="fa fa-plus" aria-hidden="true"></i><span style="padding-left:10px;">Add</span>
            </button>


        </div>
    </div>
</div>
<div class="col-md-12 padding-0">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                <div class="well">
                    @using (Html.BeginForm("Index", "Projects", FormMethod.Post, new { id = "SearchForm", name = "SearchForm" }))
                    {
                        <div class="form-inline ">
                            <div class="form-group">
                                <label class="control-label" for="from_date">Contract Date From:</label>
                                <input id="from_date" name="from_date" class="form-control" style="width:100px" placeholder="From Date" value="@Convert.ToDateTime(Model.from_date).ToString("dd/MM/yyyy")" />

                            </div>
                            <div class="form-group">
                                <label class="control-label" for="from_date">To:</label>

                                <input id="to_date" name="to_date" class="form-control" style="width:100px" placeholder="To Date" value="@Convert.ToDateTime(Model.to_date).ToString("dd/MM/yyyy")" />

                            </div>
                            <div class="form-group">
                                <label class="control-label" for="from_date">Status:</label>
                                @Html.DropDownListFor(o => o.ProjectStatusId, Model.StatusList, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="from_date">Salesmen:</label>
                                @Html.DropDownListFor(o => o.ProjectSalesmenId, Model.SalesmenList, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="from_date">Search:&nbsp;</label>
                                <input id="SearchStringmyprojects" name="SearchStringmyprojects" class="form-control" value="@Model.SearchStringmyprojects" placeholder="Search Here" onblur="Search();" maxlength="250" />

                            </div>
                            <div class="form-group">
                                <input type="hidden" id="BranchId" name="BranchId" value="@PMS.Common.SessionManagement.SelectedBranchID" />
                                <button type="submit" class="btn btn-primary btn-sm" onclick="return SubmitAs('form');"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    }
                </div>
                <div class="responsive-table">
                    @if (Model.SearchStringmyprojects == null)
                    {
                        Model.SearchStringmyprojects = "";
                    }

                    <input type="hidden" id="branch_id" name="branch_id" value="@PMS.Common.SessionManagement.SelectedBranchID" />
                    @Html.MVCGrid("MyProjects", new { hdnUID = Model.UID, brId = PMS.Common.SessionManagement.SelectedBranchID, fromdate = Model.from_date, todate = Model.to_date, ProjectStatusId = Model.ProjectStatusId, ProjectSalesmenId = Convert.ToInt32(Model.ProjectSalesmenId), SearchStringmyprojects = Model.SearchStringmyprojects })
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModel">
    <div id="myModal" class="modal fade" role="dialog" style="z-index:10000">
        <div class="modal-dialog modal-lg modal-content-left">

            <div class="modal-content" id="ModelForm">

            </div>
        </div>
    </div>
</div>


<script>
    $(function () {
        $("#from_date").datepicker({
            changeMonth: true, changeYear: true, dateFormat: "dd/mm/yy",
            onSelect: function (date) {
                var dt2 = $('#to_date');
                var startDate = $(this).datepicker('getDate');
                var minDate = $(this).datepicker('getDate');
                dt2.datepicker('option', 'minDate', minDate);
            }
        });
        $("#to_date").datepicker({
            changeMonth: true, changeYear: true, dateFormat: "dd/mm/yy",
            onSelect: function (date) {
                var dt1 = $('#from_date');
                var startDate = $(this).datepicker('getDate');
                var maxDate = $(this).datepicker('getDate');
                dt1.datepicker('option', 'maxDate', maxDate);
            }
        });

        $('#from_date').removeAttr("data-val-date");
        $('#to_date').removeAttr("data-val-date");

        var val = '@ViewBag.Message';
        if (val) {
            notify(val, 'success');
        }
        //console.log("ready!");
    });

    function SaveProject() {
        var form = $('#frmProject');
        $.validator.unobtrusive.parse(form);
        if (form.valid()) {

            $.loader({ content: "<img src='/Content/img/Preloader_3.gif' />" });
            $.ajax({
                type: "POST",
                url: "/Projects/SaveProject", // the URL of the controller action method
                data: {
                    id: $('#frmProject').find("#id").val(),
                    contract_date: $('#frmProject').find("#contract_date").val(),
                    project_number: $('#frmProject').find("#project_number").val(),
                    project_name: $('#frmProject').find("#project_name").val(),
                    project_start_date: $('#frmProject').find("#project_start_date").val(),
                    salesmen_id: $('#frmProject').find("#salesmen_id").val(),
                    saleman_commission: $('#frmProject').find("#saleman_commission").val(),
                    branch_id: $('#frmProject').find("#branch_id").val(),
                    customer_id: $('#frmProject').find("#customer_id").val(),
                    contract_amount: $('#frmProject').find("#contract_amount").val(),
                    gst_percentage: $('#frmProject').find("#gst_percentage").val(),
                    gst_amount: $('#frmProject').find("#gst_amount").val(),
                    total_amount: $('#frmProject').find("#total_amount").val(),
                    bank_id: $('#frmProject').find("#bank_id").val(),
                    status_id: $('#frmProject').find("#status_id").val(),
                    remarks: $('#frmProject').find("#remarks").val(),
                    isactive: $('#frmProject').find("#isactive").val()
                }, // optional data
                success: function (result) {
                    $.loader('close');
                    if (result.cls == "error") {
                        notify(result.msg, result.cls);
                    } else {
                        $("#btnProjectClose").click();
                        loadGrid();
                        notify(result.msg, result.cls);
                    }
                },
                error: function (req, status, error) {
                    $.loader('close');
                    notify(error, "error");
                }
            });
        }
    }

    function UploadFile(id) {
        window.open("/Projects/ProjectDocument?id=" + id, 'targetWindow', 'toolbar=no,location=no, status=no, menubar=no, scrollbars=yes,resizable=yes,width=850,height=500');
        //UploadFile
    }
    function loadGrid() {
        // window.location.reload(true);
        MVCGrid.reloadGrid('MyProjects');
        // include('/Content/thickbox-compressed.js');
        // addCss('/Content/thickbox.css');
    }

    function include(file) {
        var script = document.createElement('script');
        script.src = file;
        script.type = 'text/javascript';
        script.defer = true;
        document.getElementsByTagName('head').item(0).appendChild(script);
    }

    function addCss(cssname) {
        var th = document.getElementsByTagName('head')[0];
        var s = document.createElement('link');
        s.setAttribute('rel', 'stylesheet');
        s.setAttribute('type', 'text/css');
        s.setAttribute('href', cssname);
        th.appendChild(s);
    }

    function ShowCustomerModel(obj) {
        $("#ModelForm").html("");
        $.loader({ content: "<img src='/Content/img/Preloader_3.gif' />" });

        $.ajax({
            type: "POST",
            url: "/Customer/_LoadCustomer", // the URL of the controller action method
            data: {
                Id: obj
            }, // optional data
            success: function (result) {
                $("#ModelForm").html(result);
                $.loader('close');
            },
            error: function (req, status, error) {
                // do something with error
            }
        });


        $("#myModal").modal('show');

    }

    function FillCustomerDropdown(obj) {
        $("#customer_id").html("");
        var options = $("#customer_id");
        $.getJSON("/Home/GetCustomerList/", function (response) {
            $.each(response, function () {
                options.append($("<option />").val(this.Value).text(this.Text));
            });

            $("#customer_id").val(obj);
            GetCustomerInfo(obj)
        });
    }

    function Search() {
        // debugger;
        var alphanumers = /^[\w\s]+$/;
        if (!alphanumers.test($("#SearchStringmyprojects").val()) && $("#SearchStringmyprojects").val() != '') {
            notify("Search can have only alphabets and numbers.", "error");
            return false;
        }
    }

    function SubmitAs(obj) {
        /*debugger;*/
        var alphanumers = /^[\w\s]+$/;
        if (!alphanumers.test($("#SearchStringmyprojects").val()) && $("#SearchStringmyprojects").val() != '') {
                notify("Search can have only alphabets and numbers.", "error");
                return false;
        }
        else {
            $("#SearchForm").attr('action', '@Url.Action("Index", "Projects")').submit();
            return true;
        }
    }

</script>

<style>
    .TB_iframeContent {
        width: 560px;
    }

    #TB_window {
        width: 580px !important;
    }

    #TB_iframeContent {
        width: 560px !important;
    }
</style>
