@model PMS.Models.LoanViewModel
@{
    Layout = null;
}
<div class="modal-header">
    <h4 class="modal-title">Add/Edit Loan</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>

</div>



<div class="modal-body">
    <form class="form-horizontal" id="frmLoan" name="frmLoan">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-sm-4" for="name">Date:</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(o => o.LoanDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @tabindex = "1" })
                            @Html.ValidationMessageFor(o => o.LoanDate, "", new { @class = "text-error" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-sm-4" for="pwd">Type:</label>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(o => o.rec_type, Model.RecordTypeList, new { @class = "form-control", @tabindex = "3" })
                            @Html.ValidationMessageFor(o => o.rec_type, "", new { @class = "text-error" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-sm-4" for="pwd">Person:</label>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(o => o.person_id, Model.SalesmenAndUserList, new { @class = "form-control", @tabindex = "5" })
                            @Html.ValidationMessageFor(o => o.person_id, "", new { @class = "text-error" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-sm-4" for="email">Project:</label>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(o => o.project_id, Model.projectList, new { @class = "form-control", @tabindex = "7", onchange = "AddPurpose();" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-sm-4" for="email">Purpose:</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(o => o.purpose, new { @class = "form-control", @tabindex = "9" })
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-sm-4" for="pwd">Mode of Payment:</label>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(o => o.payment_mode, Model.mode_of_paymentList, new { @class = "form-control", @tabindex = "2" })
                            @Html.ValidationMessageFor(o => o.payment_mode, "", new { @class = "text-error" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-sm-4" for="email">Bank:</label>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(o => o.bank_id, Model.bankList, new { @class = "form-control", @tabindex = "4" })


                            <span class="text-error bankvalidation field-validation-error" style="display:none;" data-valmsg-replace="true"><span for="bank_validation" class="">Please select bank.</span></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-sm-4" for="email">Cheque Details:</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(o => o.cheque_number, new { @class = "form-control", @tabindex = "6" })


                            <span class="text-error chequenumbervalidation field-validation-error" style="display:none;" data-valmsg-replace="true"><span for="cheque_number" class="">Please enter valid cheque number.</span></span>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-sm-4" for="email">Amount:</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(o => o.amount, new { @class = "form-control", @tabindex = "8" })

                            @Html.ValidationMessageFor(o => o.amount, "", new { @class = "text-error" })

                        </div>
                    </div>
                </div>



            </div>
            </div>


        @Html.HiddenFor(o => o.isactive)

        @Html.HiddenFor(o => o.Id)
        @Html.HiddenFor(o => o.created_on)
        @Html.HiddenFor(o => o.created_by)
    </form>
</div>
<div class="modal-footer">
    @if (Model.Id != 0)
    {
        <button id="btnSave" name="btnSave" type="submit" class="btn btn-primary" onclick="SaveForm();">Update</button>
    }
    else
    {
        <button id="btnSave" name="btnSave" type="submit" class="btn btn-primary" onclick="SaveForm();">Save</button>
    }


    <button id="btnClose" name="btnClose" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>

<script>
    $(function () {
        $("#LoanDate").datepicker({ changeMonth: true, changeYear: true, dateFormat: "dd/mm/yy" });
        $('#LoanDate').removeAttr("data-val-date");
    });


    function AddPurpose() {
        if ($("#project_id").val() != "0") {
            $("#purpose").val($("#project_id option:selected").text());
        }
    }


</script>


