@using MVCGrid.Web
@model PMS.Models.ReportViewModel
@{
    ViewBag.Title = "Supplier Payment Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel box-shadow-none content-header">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <h3 class="animated fadeInLeft text-primary">Supplier Payment Report</h3>
            </div>
        </div>
    </div>
</div>
<div class="row mx-1">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <div class="well">
                    @using (Html.BeginForm("PaymentReport", "Report", FormMethod.Post, new { id = "SearchForm", name = "SearchForm" }))
                    {
                    <div class="row">
                        <div class="col-md-3 col-lg-2 col-sm-6 ">
                            <div class="form-group ">
                                <label class="control-label" for="from_date">From:</label>
                                <input id="from_date" name="from_date" class="form-control" value="@Convert.ToDateTime(Model.from_date).ToString("dd/MM/yyyy")" />
                                @*@Html.TextBoxFor(o => o.from_date, "{0:dd/MM/yyyy}", new { @class = "form-control", @tabindex = "1", placeholder = "From Date" })*@
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-2 col-sm-6 ">
                            <div class="form-group">
                                <label class="control-label" for="from_date">To:</label>
                                <input id="to_date" name="to_date" class="form-control" value="@Convert.ToDateTime(Model.to_date).ToString("dd/MM/yyyy")" />
                                @*@Html.TextBoxFor(o => o.to_date, "{0:dd/MM/yyyy}", new { @class = "form-control", @tabindex = "2", placeholder = "To Date" })*@

                            </div>
                        </div>
                        <div class="col-md-3 col-lg-2 col-sm-6 ">
                            <div class="form-group">
                                <label class="control-label">Bank:</label>
                                @Html.DropDownListFor(o => o.BankId, Model.BankList, new { @class = "form-control", @tabindex = "3" })
                            </div>
                            @*<div class="form-group">
                @Html.DropDownListFor(o => o.ProjectId, Model.ProjectList, new { @class = "form-control", @tabindex = "3", style = "width:200px" })
            </div>*@
                        </div>
                        <div class="col-md-3 col-lg-2 col-sm-6 ">
                            <div class="form-group">
                                <label class="control-label">Status:</label>
                                @Html.DropDownListFor(o => o.SearchSalesmenStatus, Model.SalesmenStatusList, new { @class = "form-control", id = "ddlStatus" })
                            </div>
                        </div>
                        @if (!User.IsInRole("Salesman"))
                        {
                            <div class="col-md-6 col-lg-3 col-sm-6 col-xs-10">
                                <div class="form-group">
                                    <label class="control-label">Salesman:</label>
                                    @Html.DropDownListFor(o => o.SalesmenId, Model.SalenmenList, new { @class = "form-control", @tabindex = "3", id = "ddlSalesmen" })
                                </div>
                            </div>
                        }
                        <div class="col-md-1 col-sm-6 col-xs-2">
                            <input type="hidden" id="BranchId" name="BranchId" value="@PMS.Common.SessionManagement.SelectedBranchID" />
                            <button type="submit" class="btn btn-primary mt-srh-btn" onclick="SubmitAs('form');"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>

                    </div>
                        <div class="row mb-2" >
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-success pull-right " onclick="SubmitAs('export');"><i class="fa fa-file-excel-o mr-2" aria-hidden="true"></i>Export</button>
                            </div>
                        </div>
                    }

                </div>
                    </div>
            <div class="panel-body">
                <div class="responsive-table">
                    @Html.Raw(Model.GridData)

                    @*@Html.MVCGrid("PaymentReport", new { fromdate = Model.from_date , todate = Model.to_date, BranchId = Model.BranchId, Uid = Model.Uid })*@
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function SubmitAs(obj) {
        if (obj == 'form') {
            $("#SearchForm").attr('action', "PaymentReport").submit();
        } else {
            $('#SearchForm').attr('action', "ExportPaymentReport").submit();
        }
    }


    $(function () {
        $("#from_date").datepicker({
            changeMonth: true, changeYear: true, dateFormat: "dd/mm/yy",
            onSelect: function (date) {
                var dt2 = $('#to_date');
                var startDate = $(this).datepicker('getDate');
                var minDate = $(this).datepicker('getDate');
                dt2.datepicker('option', 'minDate', minDate);
            }
        });
        $("#to_date").datepicker({
            changeMonth: true, changeYear: true, dateFormat: "dd/mm/yy",
            onSelect: function (date) {
                var dt1 = $('#from_date');
                var startDate = $(this).datepicker('getDate');
                var maxDate = $(this).datepicker('getDate');
                dt1.datepicker('option', 'maxDate', maxDate);
            }
        });

        $('#from_date').removeAttr("data-val-date");
        $('#to_date').removeAttr("data-val-date");
        //$("#from_date").datepicker({ changeMonth: true, changeYear: true, dateFormat: "dd/mm/yy" });
        //$('#from_date').removeAttr("data-val-date");

        //$("#to_date").datepicker({ changeMonth: true, changeYear: true, dateFormat: "dd/mm/yy" });
        //$('#to_date').removeAttr("data-val-date");
    });


    $("#ddlStatus").change(function () {

        var Id = $('#ddlStatus').val();
        $.ajax({
            type: 'POST',

            url: "/Report/GetSalesmen",
            data: { salesmenStatus: Id },
            dataType: "json",
            success: function (Model) {
                {
                    $("#ddlSalesmen").empty();
                    $.each(Model.SalesmenList, function () {
                        $("#ddlSalesmen").append($("<option/>").val(this.Value).text(this.Text));
                    });
                }
            },
            error: function () {

            }

        })
    });

    $(document).ready(function () {
        $(".table").addClass("table-bordered");
    });
</script>
