@model PMS.Models.CustomerViewModel
@{
    Layout = null;
}

<div class="modal-header">
    <h4 class="modal-title">Add/Edit Customer</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>

</div>
<div class="modal-body">
    <form class="form-horizontal" id="frmCustomer" name="frmCustomer">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-sm-4" for="customer_name">Name1:</label>
                        <div class="col-sm-8">
                            @Html.HiddenFor(o => o.id)
                            @Html.TextBoxFor(o => o.name1, new { @class = "form-control", @tabindex = "1", @maxlength = "50" })
                            @Html.ValidationMessageFor(o => o.name1, "", new { @class = "text-error" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-sm-4" for="customer_name">Name2:</label>
                        <div class="col-sm-8">

                            @Html.TextBoxFor(o => o.name2, new { @class = "form-control", @tabindex = "3", @maxlength = "50" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-sm-4" for="pwd">Block No:</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(o => o.block_no, new { @class = "form-control", @tabindex = "5", @maxlength = "50" })
                            @* @Html.ValidationMessageFor(o => o.block_no, "", new { @class = "text-error" })*@
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-sm-4" for="pwd">Street :</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(o => o.job_site, new { @class = "form-control", @tabindex = "7", @maxlength = "250" })
                            @* @Html.ValidationMessageFor(o => o.job_site, "", new { @class = "text-error" })*@
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-sm-4" for="pwd">Unit Number:</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(o => o.unit_code, new { @class = "form-control", @tabindex = "9", @maxlength = "250" })
                            @* @Html.ValidationMessageFor(o => o.unit_code, "", new { @class = "text-error" })*@
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-sm-4" for="Enquiry">Country :</label>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(o => o.CountryId, Model.CountryList, new { @class = "form-control", @tabindex = "11" })
                            @*<select name="EnquiryId" id="EnquiryId" class="form-control" required="required">
                        <option selected value=0>Select</option>
                    </select>*@
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-sm-4" for="pwd">Postal Code:</label>
                        <div class="col-sm-8">
                            @{ Html.EnableClientValidation(false); }
                            @Html.TextBoxFor(o => o.zip_code, new { @class = "form-control", @tabindex = "13", @maxlength = "250" })
                            @*@Html.ValidationMessageFor(o => o.zip_code, "", new { @class = "text-error" })*@
                        </div>
                    </div>
                </div>
                @*<div class="form-group">
            <div class="row">
                <label class="control-label col-sm-4" for="pwd">Address:</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(o => o.address, new { @class = "form-control", @tabindex = "35", @maxlength = "250" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="control-label col-sm-4" for="email">Contact Person:</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(o => o.contact_person, new { @class = "form-control", @tabindex = "36", @maxlength = "50" })
                    @Html.ValidationMessageFor(o => o.contact_person, "", new { @class = "text-error" })
                </div>
            </div>
        </div>*@
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-sm-4" for="Enquiry">Source of Enquiry:</label>
                        <div class="col-sm-8 input-group">
                            @Html.DropDownListFor(o => o.SourceOfEnquiry, Model.SourceList, new { @class = "form-control", @tabindex = "15" })
                            @*@if (Model.id == 0)
                            {
                                <div class="input-group-append col-md-2 col-4">
                                    <button type="button" onclick="ADDSourceOfEnquiry();" class="btn btn-primary  mr-2">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </button>                                    
                                </div>
                            }*@
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">

                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-sm-4" for="email">NRIC 1:</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(o => o.nric1, new { @class = "form-control", @tabindex = "2", @maxlength = "50" })
                            @*@Html.ValidationMessageFor(o => o.nric1, "", new { @class = "text-error" })*@
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-sm-4" for="email">NRIC 2:</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(o => o.nric2, new { @class = "form-control", @tabindex = "4", @maxlength = "50" })
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-sm-4" for="email">Email:</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(o => o.email, new { @class = "form-control", @tabindex = "6", @maxlength = "50" })
                           @* @Html.ValidationMessageFor(o => o.email, "", new { @class = "text-error" })*@
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-sm-4" for="email">Phone:</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(o => o.phone, new { @class = "form-control", @tabindex = "8", @maxlength = "13",@type = "number" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-sm-4" for="mobile">Mobile:</label>
                        <div class="col-sm-8">
                            @{ Html.EnableClientValidation(true); }
                            @Html.TextBoxFor(o => o.mobile, new { @class = "form-control", @tabindex = "10", @maxlength = "13", @type = "number" })
                            @Html.ValidationMessageFor(o => o.mobile, "", new { @class = "text-error" })
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-sm-4" for="email">GST Registered:</label>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(o => o.gst_registered, Model.GSTRegisterList, new { @class = "form-control", @tabindex = "12" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-sm-4" for="email">GSTNo:</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(o => o.gst_no, new { @class = "form-control", @tabindex = "14", @maxlength = "15" })
                        </div>
                    </div>

                </div>

            </div>
        </div>

        @Html.HiddenFor(o => o.isactive)

    </form>
</div>
<div class="modal-footer">
    @if (@Model.id != 0)
    {
        <button id="btnSelect" name="btnSelect" type="button" class="btn btn-primary" onclick="SaveForm();" tabindex="15">Update</button>
    }
    else
    {
        <button id="btnSelect" name="btnSelect" type="button" class="btn btn-primary" onclick="SaveForm();" tabindex="15">Save</button>
    }

    <button id="btnClose" name="btnClose" type="button" class="btn btn-secondary" data-dismiss="modal" tabindex="16">Close</button>
</div>

<script>
    function SaveForm() {
        var form = $('#frmCustomer');
        debugger;
        $.validator.unobtrusive.parse(form);
        if (form.valid()) {

            $.loader({ content: "<img src='/Content/img/Preloader_3.gif' />" });
            $.ajax({
                type: "POST",
                url: "/Customer/SaveCustomer", // the URL of the controller action method
                data: {
                    id: $('#frmCustomer').find("#id").val(),
                    name1: $('#frmCustomer').find("#name1").val(),
                    name2: $('#frmCustomer').find("#name2").val(),
                    nric1: $('#frmCustomer').find("#nric1").val(),
                    nric2: $('#frmCustomer').find("#nric2").val(),
                    block_no: $('#frmCustomer').find("#block_no").val(),
                    job_site: $('#frmCustomer').find("#job_site").val(),
                    address: $('#frmCustomer').find("#address").val(),
                    contact_person: $('#frmCustomer').find("#contact_person").val(),
                    email: $('#frmCustomer').find("#email").val(),
                    phone: $('#frmCustomer').find("#phone").val(),
                    mobile: $('#frmCustomer').find("#mobile").val(),
                    gst_registered: $('#frmCustomer').find("#gst_registered").val(),
                    gst_no: $('#frmCustomer').find("#gst_no").val(),
                    isactive: $('#frmCustomer').find("#isactive").val(),
                    SourceOfEnquiry: $('#frmCustomer').find("#SourceOfEnquiry").val(),
                    unit_code: $('#frmCustomer').find("#unit_code").val(),
                    zip_code: $('#frmCustomer').find("#zip_code").val(),
                    CountryId: $('#frmCustomer').find("#CountryId").val()
                    /*SourceOfEnquiry: $('#frmCustomer').find("#SourceOfEnquiry option:selected").text(),*/
                }, // optional data
                success: function (result) {
                    debugger;
                    $.loader('close');
                    if (result.cls == "error") {
                        notify(result.msg, result.cls);
                    } else {
                        $("#btnClose").click();

                        if ($('#frmProject').length) {
                            FillCustomerDropdown(result.id);
                        }
                        else if ($('#frmQuotation').length) {
                            FillCustomerDropdown(result.id, result.msg, result.cls);
                        }
                        else {
                            loadGrid();
                            notify(result.msg, result.cls);
                        }
                    }
                },
                error: function (req, status, error) {
                    // do something with error
                }
            });
        }
    }

    function ADDSourceOfEnquiry() {
        //debugger;
        openModelpop('/Master/SourceOfInquiry', '', 0);
    }
</script>