@model PMS.Models.PrintPaymentViewModel
@{
    Layout = null;
}
<style>
    .printaddress {
        font-size: 11px;
    }

    .textlabel {
        font-size: 13px;
        font-weight: bold;
    }

    .textlabelnormal {
        font-size: 13px;
        font-weight: normal;
    }

    .tablebgcolor {
        background-color: #000000;
        border-spacing: 1px !important;
        border-collapse: separate !important;
    }

    .trbgcolor {
        background-color: #ffffff;
    }

    .trbgcolorextra {
        border-bottom: solid 1px #000000;
        background-color: #ffffff;
    }

    .trbgcolorextratopbottom {
        border-top: solid 1px #000000;
        border-bottom: solid 1px #000000;
        background-color: #ffffff;
    }
</style>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Print Preview</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" id="frmPayment" name="frmPayment">
        <div id="PrintElement">
            <center>



                <table width="70%" border="0" style="color:#000000!important">
                    <tr>
                        <td align="left" valign="top" width="60%"></td>

                        <td align="right" valign="top" width="20%"></td>

                        <td align="left" valign="top" width="20%"></td>
                    </tr>

                    <tr>
                        <td align="left" valign="top">
                            <b style="font-size:14px;">@Model.ssp_paymentById_result.branch_name</b>




                        </td>

                        <td align="left" valign="top" class="printaddress" colspan="2">
                            

                        </td>

                    </tr>
                    <tr>
                        <td align="left" valign="top" class="textlabel">
                            <b> Payment Voucher</b>




                        </td>

                        <td align="left" valign="top" class="printaddress" colspan="2">
                           

                        </td>

                    </tr>
                   
                    <tr>
                        <td align="left" valign="top" colspan="3">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">



                            <table width="100%" border="0" class="tablebgcolor" cellpadding="1" cellspacing="1">
                                <tr>
                                    <td align="left" valign="top" width="60%" class="textlabel trbgcolor" colspan="3">
                                        <b style="font-size:14px;">Payee</b>
                                    </td>
                                    <td align="right" valign="top" width="20%" class="textlabel trbgcolor">
                                        <b>Date:&nbsp;&nbsp;</b>
                                    </td>
                                    <td align="left" valign="top" width="20%" class="trbgcolor">
                                        @Convert.ToDateTime(DateTime.Now).ToString("dd/MM/yyyy")
                                    </td>
                                </tr>
                               
                                <tr>
                                    <td class="trbgcolor" colspan="3">

                                        @Model.ssp_paymentById_result.supplier_name
                                    </td>
                                    <td align="center" valign="top" colspan="2" class="textlabel trbgcolor">
                                        <b>Mode of Payment</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="trbgcolor" colspan="3"></td>
                                    <td align="center" valign="top" class="textlabel trbgcolor" colspan="2">
                                        <b>@Model.ssp_paymentById_result.Paymode&nbsp; @Model.ssp_paymentById_result.cheque_number</b>
                                    </td>
                                </tr>
                                </table>
                            <table width="100%" border="0" class="tablebgcolor" cellpadding="1" cellspacing="1">
                                <tr>
                                   @* <td class="trbgcolorextra" width="30%"></td>
    <td align="center" valign="top" class="textlabel trbgcolorextra" width="17%"><b>Invoice Amount</b></td>
    <td align="center" valign="top" class="textlabel trbgcolorextra" width="17%"><b>GST Amount</b></td>*@
                                    <td align="right" class="trbgcolorextra" valign="top" width="85%"></td>

                                    <td align="center" valign="top" class="textlabel trbgcolorextra" width="15%"><b>Amount</b></td>
                                </tr>

                                <tr>
                                  @*  <td align="left" class="trbgcolor"><br /></td>
    <td align="left" class="trbgcolor"><br /></td>
    <td align="left" class="trbgcolor"><br /></td>*@
                                    <td align="right" class="trbgcolor" valign="top"><br /></td>

                                    <td align="right" class="trbgcolor" valign="top"><br /></td>
                                </tr>



                                @foreach (var pdlist in Model.payment_details)
                                {

                                    <tr>
                                        <td align="left" class="trbgcolor">
                                            @pdlist.supplier_inv_number
                                        </td>

                                        @*<td align="right" class="trbgcolor" valign="top">
        <div style="float:left;margin-left:5px;">
            $
        </div>
        <div style="float:right;margin-right:5px;">
            @(Convert.ToDecimal(pdlist.invoice_amount))
        </div>


    </td>
    <td align="right" class="trbgcolor" valign="top">
        <div style="float:left;margin-left:5px;">
            $
        </div>
        <div style="float:right;margin-right:5px;">
            @(Convert.ToDecimal(pdlist.gst_amount))
        </div>


    </td>
    <td align="right" class="trbgcolor" valign="top"></td>
                                        *@
                                        <td align="right" class="trbgcolor" valign="top">
                                            <div style="float:left;margin-left:5px;">
                                                $
                                            </div>
                                            <div style="float:right;margin-right:5px;">
                                                @(Convert.ToDecimal(pdlist.payment_amount))
                                            </div>


                                        </td>
                                    </tr>
                                }


                                <tr>
               @* <td align="left" class="trbgcolor">&nbsp;</td>
    <td align="left" class="trbgcolor">&nbsp;</td>
    <td align="left" class="trbgcolor">&nbsp;</td>*@
                <td align="right" class="trbgcolor" valign="top">&nbsp;</td>

                <td align="right" class="trbgcolor" valign="top">&nbsp;</td>
            </tr>
            <tr>
                @*<td align="left" class="trbgcolor">&nbsp;</td>
    <td align="left" class="trbgcolor">&nbsp;</td>
    <td align="left" class="trbgcolor">&nbsp;</td>*@
                <td align="right" class="trbgcolor" valign="top">&nbsp;</td>

                <td align="right" class="trbgcolor" valign="top">&nbsp;</td>
            </tr>
            <tr>
               @* <td align="left" class="trbgcolor">&nbsp;</td>
   <td align="left" class="trbgcolor">&nbsp;</td>
    <td align="left" class="trbgcolor">&nbsp;</td>*@
                <td align="right" class="trbgcolor" valign="top">&nbsp;</td>

                <td align="right" class="trbgcolor" valign="top">&nbsp;</td>
            </tr>
                                <tr>
                                    @*<td align="left" class="trbgcolor"></td>
    <td align="left" class="trbgcolor"></td>
    <td align="left" class="trbgcolor"></td>*@
                                    <td align="right" valign="top" class="textlabel trbgcolor">
                                        <b>Total&nbsp;</b>


                                    </td>

                                    <td align="right" class="trbgcolor" valign="top">
                                        <div style="float:left;margin-left:5px;">
                                            $
                                        </div>
                                        <div style="float:right;margin-right:5px;">
                                            @Model.payment_details.Sum(o => o.payment_amount)
                                        </div>



                                    </td>
                                </tr>
                                <tr>
                                    @*<td class="trbgcolor" align="left"></td>
    <td class="trbgcolor" align="left"></td>
    <td class="trbgcolor" align="left"></td>*@
                                    <td align="right" valign="top" class="textlabel trbgcolor">
                                        <b>Rebate Received&nbsp;</b>
                                    </td>

                                    <td class="trbgcolor" align="right" valign="top">


                                        <div style="float:left;margin-left:5px;">
                                            $
                                        </div>
                                        <div style="float:right;margin-right:5px;">
                                            @(Convert.ToDecimal(Model.ssp_paymentById_result.rebate_amount))

                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    @*<td class="trbgcolor" align="left"><br /></td>
    <td class="trbgcolor" align="left"><br /></td>
    <td class="trbgcolor" align="left"><br /></td>*@
                                    <td class="trbgcolor" align="right" valign="top"><br /></td>

                                    <td class="trbgcolor" align="right" valign="top"><br /></td>
                                </tr>

                                <tr>
                                    @*<td align="left" class="trbgcolorextratopbottom"></td>
                                   <td align="left" class="trbgcolorextratopbottom"></td>
                                    <td align="left" class="trbgcolorextratopbottom"></td>*@
                                    <td align="right" valign="top" class="textlabel trbgcolorextratopbottom">
                                        <b>Total Amount&nbsp;</b>


                                    </td>

                                    <td align="right" class="trbgcolorextratopbottom" valign="top">
                                        <div style="float:left;margin-left:5px;">
                                            $
                                        </div>
                                        <div style="float:right;margin-right:5px;">
                                            @(Convert.ToDecimal(Model.payment_details.Sum(o => o.payment_amount)) - Convert.ToDecimal(Model.ssp_paymentById_result.rebate_amount))
                                        </div>



                                    </td>
                                </tr>


                            </table>





                        </td>
                    </tr>
                    <tr>
                        <td align="left"></td>
                        <td align="right" colspan="2" valign="top" class="textlabel">
                            <b> FULL & FINAL SETTLEMENT</b>
                            <br />
                            <br />
                            <br />

                        </td>
                    </tr>

                    <tr>
                        <td align="left"></td>
                        <td align="left" colspan="2" valign="top" class="textlabel">
                            <b>Received by</b>
                        </td>
                    </tr>
                    <tr>
                        <td align="left"></td>
                        <td align="right"  colspan="2" style="border-top:solid 1px #000000;" valign="top">
                            <i>
                                (Signature & Date)
                            </i>
                        </td>
                    </tr>

                </table>

            </center>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button id="btnSave" name="btnSave" type="submit" class="btn btn-primary" onclick="PrintElem();">Print</button>
    <button id="btnClose" name="btnClose" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
<script>

    function PrintElem() {
        var elem = "PrintElement";
        var mywindow = window.open('', 'PRINT', 'height=400,width=600');

        mywindow.document.write('<html><head><title></title>');
        mywindow.document.write('<style>body{font-family:"Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;} .printaddress { font-size: 11px;} .textlabel { font-size: 13px;font-weight: bold;} .textlabelnormal{ font-size: 13px;font-weight: normal;} .tablebgcolor {background-color:#000000; border-spacing:1px!important;border-collapse: separate!important;} .trbgcolor { background-color:#ffffff;} .trbgcolorextra { border-bottom:solid 1px #000000; background-color:#ffffff; } .trbgcolorextratopbottom { border-top:solid 1px #000000;border-bottom:solid 1px #000000; background-color:#ffffff; } </style>');
        mywindow.document.write('</head><body >');

        mywindow.document.write(document.getElementById(elem).innerHTML);
        mywindow.document.write('</body></html>');

        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10*/

        mywindow.print();
        mywindow.close();

        return false;
    }

</script>
