@model PMS.Models.ResetPasswordViewModel
@{
    Layout = null;
    //Layout = "~/Views/Shared/_LayoutPartial.cshtml";
    ViewBag.Title = "Reset password";
}
<div class="modal-header">
    <h4 class="modal-title">Reset password</h4>
    <button type="button" class="close" data-dismiss="modal" onclick="CloseModal();">&times;</button>

</div>

<div class="modal-body">
    <div class="col-md-12 padding-0">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
                        @Html.HiddenFor(model => model.Code)
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label"})
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" , @Id ="EmailId",  @tabindex = "1" })
                                @Html.ValidationMessageFor(o => o.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="input-group col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" , @tabindex = "2" })
                                <div class="input-group-append">
                                    <button id="show_password" class="btn btn-primary" type="button">
                                        <span class="fa fa-eye"></span>
                                    </button>
                                </div>
                                @Html.ValidationMessageFor(o => o.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                            <div class="input-group col-md-10">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @tabindex = "3" })
                                <div class="input-group-append">
                                    <button id="show_Confirmpassword" class="btn btn-primary" type="button">
                                        <span class="fa fa-eye"></span>
                                    </button>
                                </div>
                                @Html.ValidationMessageFor(o => o.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*<div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="btn btn-primary" value="Reset" />
                            </div>
                        </div>*@
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button id="btnReset" name="btnReset" type="button" class="btn btn-primary"onclick="ResetPassword();" tabindex="4" >Reset</button>
    <button id="btnClose" name="btnClose" type="button" class="btn btn-secondary" onclick="CloseModal();" tabindex="5">Close</button>
</div>

<script>
    function CloseModal() {
        window.location.reload();
    }
    $(document).ready(function () {
        $('#show_password').hover(function show() {
            //Change the attribute to text
            $('#Password').attr('type', 'text');
            $('.icon').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
        },
            function () {
                //Change the attribute back to password
                $('#Password').attr('type', 'password');
                $('.icon').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
            });        

        $('#show_Confirmpassword').hover(function show() {
            //Change the attribute to text
            $('#ConfirmPassword').attr('type', 'text');
            $('.icon').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
        },
            function () {
                //Change the attribute back to password
                $('#ConfirmPassword').attr('type', 'password');
                $('.icon').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
            });
    });
    function ResetPassword() {
        debugger;
        var Values = {
            Email: $('#EmailId').val(),
            Password: $('#Password').val(),
            ConfirmPassword: $('#ConfirmPassword').val(),
            Code: $("#Code").val(),
        };
        var JsonValues = JSON.stringify(Values);

        var password = $('#Password').val();
        var ConfirmPassword = $('#ConfirmPassword').val();
        if (password == ConfirmPassword) {
            $.ajax({
                url: '@Url.Action("ResetPassword", "Account")',
                type: "Post",
                data: { "JsonValues": JsonValues },
                dataType: "json",
                success: function (result) {
                    debugger;
                    if (result.cls == "success") {
                        notify(result.msg, result.cls);
                        $('#Password').val('');
                        $('#ConfirmPassword').val('');
                    }
                    else {
                        notify(result.msg, result.cls);
                    }


                },
                error: function (result) {
                    debugger
                    notify(result.msg, result.cls);

                }
            });
        }
        else {
            notify(" Password and Confirm Password Should be Similar", "error");
        }
    }
</script>
