@using MVCGrid.Web
@model PMS.Models.SalesmenViewModel
@{
    ViewBag.Title = "Salesmen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel box-shadow-none content-header">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6 col-6">
                <h3 class="animated fadeInLeft text-primary">Salesmen</h3>
            </div>
            <div class="col-md-6 col-6">
                <button type="button" onclick="openModelpop('/Admin/SalesmenLoadAddEdit', 'id', 0);" class='btn btn-primary pull-right'>
                    <i class="fa fa-plus" aria-hidden="true"></i><span style="padding-left:10px;">Add</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row mx-1">

    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                <div class="well">
                    @using (Html.BeginForm("Salesmen", "Admin", FormMethod.Post, new { id = "SearchForm", name = "SearchForm" }))
                    {
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-xs-10">
                                <div class="form-group ">
                                    <label class="control-label " for="from_date">Search:&nbsp;</label>
                                    <input id="SalesmenSearch" name="SalesmenSearch" class="form-control" value="@Model.SalesmenSearch" placeholder="Search" />
                                </div>
                            </div>
                            @*<div class="col-lg-3 col-md-4 col-xs-10">
                    <div class="form-group ">
                        <label class="control-label " for="BranchId">Branch:&nbsp;</label>
                        @Html.DropDownListFor(o => o.BranchId, Model.BranchList, new { @id = "BranchId", @class = "form-control" })
                    </div>
                </div>*@
                            <div class="col-md-1 col-xs-2">
                                <button type="submit" class="btn btn-primary btn-sm mt-srh-btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>


                    }
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                <div class="responsive-table">
                    @Html.MVCGrid("Salesmen", new { brId = PMS.Common.SessionManagement.SelectedBranchID, SalesmenSearch = Model.SalesmenSearch })
                    @*@if (User.IsInRole("SuperAdmin"))
                        {
                                            @Html.MVCGrid("Salesmen", new { brId = PMS.Common.SessionManagement.SelectedBranchID })

                        }else {
                                            @Html.MVCGrid("SalesmenView", new { brId = PMS.Common.SessionManagement.SelectedBranchID })
                        }*@
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(function () {
        //debugger
        var val = '@ViewBag.Message';
        var cls ='@ViewBag.cls';
        if (val) {
            notify(val, cls);
        }
        //console.log("ready!");
    });
    function SaveSalesmenForm() {

                            var form = $('#frmSalesmen');
        $.validator.unobtrusive.parse(form);
                            if (form.valid()) {
            $.loader({ content: "<img src='/Content/img/Preloader_3.gif' />" });
            $.ajax({
                                    type: "POST",
                url: "/Admin/SalesmenSaveUpdate", // the URL of the controller action method
                data: {
                                        id: $('#frmSalesmen').find("#id").val(),
                    branch_Id: $('#frmSalesmen').find("#branch_Id").val(),
                    salesmen_name: $('#frmSalesmen').find("#salesmen_name").val(),
                    saleman_commission: $('#frmSalesmen').find("#saleman_commission").val(),
                    address1: $('#frmSalesmen').find("#address1").val(),
                    address2: $('#frmSalesmen').find("#address2").val(),
                    address3: $('#frmSalesmen').find("#address3").val(),
                    address4: $('#frmSalesmen').find("#address4").val(),
                    zip_code: $('#frmSalesmen').find("#zip_code").val(),
                    website: $('#frmSalesmen').find("#website").val(),
                    email: $('#frmSalesmen').find("#email").val(),
                    phone: $('#frmSalesmen').find("#phone").val(),
                    mobile: $('#frmSalesmen').find("#mobile").val(),
                    isactive: $('#frmSalesmen').find("#isactive").val()
                }, // optional data
                success: function (result) {
                    $.loader('close');
                                        if (result.cls == "error") {
                                            notify(result.msg, result.cls);
                                        } else {
                        $("#btnClose").click();
                                            loadGrid();
                                            notify(result.msg, result.cls);
                                        }
                                    },
                error: function (req, status, error) {
                                        // do something with error
                                    }
                                });
                            }
                        }
                        function loadGrid() {
                            MVCGrid.reloadGrid('Salesmen');
                            //if ($("#MVCGridContainer_SalesmenView").length > 0) {
                            //    MVCGrid.reloadGrid('SalesmenView');
                            //} else {
                            //    MVCGrid.reloadGrid('Salesmen');
                            //}
                        }



</script>



